#!/usr/bin/env python
import os
import shutil
import socket
import subprocess
from datetime import datetime

import requests
import upload


def send_email(subject, text):
    return requests.post(
        '{{ SUPPORT_EMAIL_END_POINT }}',
        auth=('api', '{{ SUPPORT_EMAIL_API_KEY }}'),
        data={
            'from': '{{ SUPPORT_EMAIL_FROM }}',
            'to': ['{{ SUPPORT_EMAIL_TO }}'],
            'subject': subject,
            'text': text
        }
    )


def dump_database(backup_dir, database):
    print('Dumping database: {}'.format(database))
    target = os.path.join(backup_dir, '{}.dump'.format(database))
    command = 'sudo -u postgres pg_dump --format=custom {} --file={}'.format(database, target)
    print('Running: {}'.format(command))
    subprocess.check_call(command, shell=True)

    if not os.path.exists(target):
        raise Exception('Database dump not saved for: {}'.format(database))


def backup():
    user_home = os.path.expanduser('~')
    hostname = socket.gethostname()
    date = datetime.now().strftime('%Y-%m-%d_%H-%M-%S')
    file_name = '{0}-{1}.tgz'.format(date, hostname)
    backup_dir = os.path.join(user_home, 'backup')
    backup_target = os.path.join(user_home, file_name)

    if os.path.exists(backup_dir):
        shutil.rmtree(backup_dir)
    os.makedirs(backup_dir)
    print('makeing {}'.format(backup_dir))

    for f in os.listdir(user_home):
        if f.endswith('tgz'):
            os.remove(os.path.join(user_home, f))

    dump_database(backup_dir, 'ckan_default')
    dump_database(backup_dir, 'datastore_default')

    print('tar-ing data')
    os.system('cp -r /var/lib/ckan/default {}/default'.format(backup_dir))

    subprocess.check_call('tar cfz {0} {1}'.format(backup_target, backup_dir), shell=True)

    print('uploading data')
    upload.upload(backup_target)


if __name__ == '__main__':
    try:
        backup()
    except Exception as e:
        print('errored with {}'.format(str(e)))
        send_email('Issue with the nhs england back up', str(e))
