[webservers]
ec2-11-111-111-111.us-west-2.compute.amazonaws.com

[dbservers]
ec2-11-111-111-111.us-west-2.compute.amazonaws.com

[solr]
ec2-11-111-111-111.us-west-2.compute.amazonaws.com

[server_name]
your-url.org.uk
